.frame-youtube {
    width: 100%;
}

.alto-video {
    @extend .frame-youtube;
    height: 450px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.border-iframe {
    border: 1px solid $border-color-maps;
}

.bloque-contenedor {
    padding: 80px 0px;
    background-color: white;
}

.texto-redes a {
    font-family: $fuente;
    font-size: 1rem;
    font-weight: $font-weight;
    line-height: 1.5;
    color: $font-color-servicios;
    text-decoration: none
}

.texto-bloque {
    @extend .bloque-contenedor;
    h3 {
        margin: 0px;
        padding: 0px;
        text-transform: uppercase;
        color: white;
    }
    a,
    h4 span {
        color: red;
    }
}

.texto-bloque-royal {
    @extend .bloque-contenedor;
    a {
        color: royalblue;
    }
}

.texto-bloque-blanco {
    @extend .bloque-contenedor;
    h4 {
        margin: 0;
        padding: 0px;
        color: white;
        line-height: 26px;
        font-size: 1.1rem;
        background-color: transparent;
    }
}

.banner-general {
    @extend .bloque-contenedor;
    background-position: center;
    background-size: cover;
    color: #a3a3a3;
    position: relative;
}

.margen-72 {
    @extend .bloque-contenedor;
    margin-top: 72px;
}

.banner-fondo1 {
    @extend .bloque-contenedor;
    background-image: url("../../media/ss1_bannerv3.jpg");
}

.banner-fondo2 {
    @extend .bloque-contenedor;
    background-image: url("../../media/oper1_bannerv2.jpg");
}

.banner-fondo3 {
    @extend .bloque-contenedor;
    background-image: url("../../media/moto_bannerv3.jpg");
}

.banner-fondo4 {
    @extend .bloque-contenedor;
    background-image: url("../../media/servicio_bannerv2.jpg");
}

.banner-fondo5 {
    @extend .bloque-contenedor;
    background-image: url("../../media/nosotros_bannerv3.jpg");
}

.thead-royal {
    color: white;
    background-color: royalblue;
    border-color: #5071d4;
}

@for $i from 1 through 3 {
    .tam-fuente-#{$i} {
        font-size: (1rem + ($i - 0.50rem));
    }
}

@each $nombre,
$margen in $separadores {
    .margen-#{$nombre} {
        margin-top: $margen;
    }
}

@media all and (max-width: 768px) {
    .vis {
        display: none;
    }
    .bloque-contenedor {
        padding: 0px 0px;
        min-height: 120px;
        max-height: 150px;
        background-color: white;
    }
    .texto-bloque {
        h3 {
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;
            color: white;
            margin-top: 30px;
        }
        a,
        h3 span {
            color: royalblue;
        }
    }
}

.badge-propio {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 0.9rem;
}

.puntero {
    cursor: pointer;
}